@import "tailwindcss";

:root {
  --sidebar-bg: rgb(44,44,43);
  --main-bg: rgb(249,249,245);
  --card-bg: rgb(248,247,242);
  --border: rgb(202,205,194);
  --text-dark: rgb(44,44,43);
  --text-muted: rgb(98,96,91);
  --accent-blue: rgb(162,167,248);
  --accent-gold: rgb(243,212,137);
  --accent-green: rgb(124,189,140);
}

body {
  margin: 0;
  font-family: Inter, system-ui, sans-serif;
  background: var(--main-bg);
  color: var(--text-dark);
}
* {
  transition: all 0.25s ease;
}

html {
  scroll-behavior: smooth;
}

